<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/" style="font-family:'Open Sans'; text-transform: none;">
      <img src="/nlip/images/logo/lab_logo_no_bg.png" height="80" width="80" class="d-inline-block">{{ site.name }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="padding-right: 15px;">
        {% for nav in site.nav %}

        {%if nav.name=="research"%}

        {%if site.research_dropdown==true%}
        <li class="nav-item">
          <a class="nav-link" href="{{ nav.href }}">{{ nav.name }}</a>
        </li>

        {% else %}
        
        <li class="nav-item">
          <a class="nav-link" href="{{ nav.href }}">{{ nav.name }}</a>
        </li>

        {% endif %}

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{{ nav.href }}">{{ nav.name }}</a>
        </li>

        {% endif %}

        {% endfor %}
      </ul>
    </div>
  </div>
</nav>